// .backgroudImg {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// Placeholder
%backgroudImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}