.partners {
    background-color: $color-gray-5;
    padding: $pd-3 0;
    .partners__content {
        width: 70%;
        margin: 0 auto;
        .partners__text {
            text-align: center;
        }
        .partners__imgs {
            display: flex;
            justify-content: space-between;
        }
    }
    @include responsive ('xl') {
        .partners__content {
            width: 80%;
        }
    }
    @include responsive ('lg') {
        .partners__content {
            width: 90%;
        }
    }
    @include responsive ('md') {
        .partners__content {
            width: 60%;
            .partners__imgs {
                flex-wrap: wrap;
                .partners__item {
                    width: 50%;
                    text-align: center;
                    margin-bottom: $mg-0 + 5;
                }
            }
        }
    }
}